.about {
  max-width: 1200px;
  text-align: start;
  display: flex;
  flex-flow: column;
  align-items: start;
}

.about__description {
  font-size: 1.2rem;
  margin-bottom: 50px;
  line-height: 1.6;
  max-width: 800px;
}

.about__techGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0px;
  max-width: 600px;
}

.about__techCard {
  display: flex;
  align-items: center;       
  justify-content: center; 
  width: 80px;
  height: 80px;
  background-color: transparent;
  color: var(--text-white);
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  padding: 0 10px;           
  box-sizing: border-box;
}

.about__techIcon {
  font-size: 1.5rem;
  flex-shrink: 0;            
}

.about__techName {
  display: none;              /* hidden by default */
  white-space: nowrap;
  font-weight: 500;
  margin-left: 10px;
  transform: translateX(-20px); 
  transition: transform 0.3s ease;
}

.about__techCard:hover {
  width: clamp(50px, 50%, 200px);              
  background-color: var(--primary);
  color: var(--text-dark);

  transition: background-color 0.3s ease;
}

.about__techCard:hover .about__techName {
  display: inline-flex;       /* show text on hover */
  transform: translateX(0);  
}
