.certification {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
}

.certification > div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
}

.certification > div > a {
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--text-white);
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.certification > div > a:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.certification > div > a:hover {
  background-color: #F7F7F7;
  border-color: none;
  color: var(--text-dark);
  transform: scale(.96);
}

.certification > div > a:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.certification__gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.certification__img{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms ease, top 300ms ease, width 300ms ease, height 300ms ease;
  will-change: transform, top, width, height;
  border-radius: 6px;
}

#image--center {
  z-index: 30;
}

#image--back,
#image--front {
  z-index: 20;
}

.one{ background: red; }
.two{ background: green; }
.three{ background: blue; }


@media (min-width: 1024px) {
  .certification{
    flex-flow: row;
    gap: var(--space-md);
  }
}