.certification {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.certification > div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
}

.certification > div > a {
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--text-white);
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.certification > div > a:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.certification > div > a:hover {
  background-color: #F7F7F7;
  border-color: none;
  color: var(--text-dark);
  transform: scale(.96);
}

.certification > div > a:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.certification__gallery {
  position: relative;
  width: 100%;
  height: calc(var(--h-center)*1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.certification__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 5 / 3;
  border-radius: 6px;
  transition: transform 300ms ease, width 300ms ease, top 300ms ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.certification__img:hover{
  cursor: pointer;
}


.certification__img > p{
  opacity: 0.7;
  max-width: 70%;
  margin: 0;
}

#image--center {
  z-index: 30;
}

#image--back,
#image--front {
  z-index: 20;
}

.one{ background: var(--lighter-background); }
.two{ background: var(--secondary); }
.three{ background: var(--lighter-background); }

@media (max-width: 600px) {
  .certification__img {
    max-width: 300px;
    max-height: 180px;
  }

  #image--center {
    max-width: 350px;
    max-height: 210px;
  }
}

@media (min-width: 1024px) {
  .certification{
    flex-flow: row;
    gap: var(--space-sm);
  }

  .certification__gallery {
    max-width: 55%;
  }
}