.contact{
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    text-align: start;
}

.contact__form{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.contact__names {
    display: flex;
    gap: 1rem;
}

.contact__input,
.contact__textarea {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    background: var(--lighter-background);
    position: relative; /* Add this line */
}

.contact__error {
    opacity: 0.5;
    font-size: medium;
    display: block; /* Add this line */
    max-width: 100%; /* Add this line */
}

.contact__textarea{
    min-height: 250px;
}

.contact__button{
    font-size: large;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    background: var(--lighter-background);
    color: var(--text-white);
}

.contact__button:hover{
    background: var(--primary);
    color: var(--text-dark);
}

.contact-info__container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.contact-info{
    display: flex;
    background-color: var(--lighter-background);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin-top: 1rem;
    align-items: center;
    padding: 0rem 1.5rem;
    gap: 1rem;
}

.contact-info__icon {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    opacity: 0.7;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.contact-info__text{
    height: 4rem;
    width: 50%;
}

.contact-info__text > p {
    margin: 0;
    opacity: 0.7;
    font-size: medium;
}

.contact-info__title {
  font-size: clamp(1rem, calc(1.5vw + 1rem), 1.5rem);
  font-weight: 600;
}

@media (max-width: 768px) {
    .contact-info{
        padding: 0rem 0.5rem;
    }
}


@media (min-width: 768px) {
  .contact-info__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact__container{
    margin: 0 auto;
  }

  .contact-info__container{
    width: 100%;
  }
}

@media (max-width: 350px) {
    .contact-info__text > p {
        font-size: 0.8rem;
    }
}

@media (min-width: 1024px) {
    .contact__form{
        margin: 0;
    }

    .contact__container{
        display: flex;
        gap: var(--space-md);
        width: 100%;
    }

    .contact-info__container{
        flex-flow: column;
        width: 50%;
        gap: 0rem;
        justify-content: space-between;
    }

    .contact-info {
        margin: 0;
    }
}