.education{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
}

.education__image{
    width: 100%;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.education__title{
    text-align: start;
}

@media (max-width: 768px) {
    .education__image{
        margin: 3rem 0 0 auto;
    }
}

@media (min-width: 1024px) {
    .education{
        flex-flow: row;
        gap: var(--space-md);
    }
    
    .education > div {
        max-width: 50%;;
    }

    .education__image{
        max-width: 300px;
        transition: all 0.2s ease-in-out;
    }

    .education__image:hover{
        transform: scale(200%) translate(-50%, 0%);
        z-index: 102;
    }
}