.footer {
  padding: 2rem 1rem;
  background: #111;
  color: #f1f1f1;
  text-align: center;
  border-radius: 10px;
}

.footer__content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.footer__copy {
  font-size: 0.9rem;
  opacity: 0.8;
}

.footer__socials {
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.footer__socials a {
  color: #f1f1f1;
  transition: all 0.2s ease;
}

.footer__socials a:hover {
  transform: scale(120%);
}
