header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 2rem;
  left: 50%;
  z-index: 10000;
  height: 60px;
  width: 100%;
  max-width: 1000px;

  background: color-mix(in srgb, var(--lighter-background) 80%, transparent);
  backdrop-filter: blur(15px);
  transition: width 1s ease-in-out, height 0.2s ease-in-out;
  transform-origin: center;

  padding: 1rem 2rem;
  border-radius: 10px;
  transform: translate(-50%, 0);
  overflow: hidden;

  border: solid 0.5px var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.header--scrolled {
  width: 50%;
}

header:hover{
    height: 70px;
}



.logo{
    font-size: 2rem;
    font-weight: bold;
}

.navbar{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav__link{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: var(--text-white);
    font-weight: normal;
}

.nav__link:hover{
    transform: scale(110%);
    color: var(--text-white);
    font-weight: bold;
}

@media (max-width: 768px) {
    header{
        padding: 1rem 2rem;
        max-width: 90vw;
    }

    .header--scrolled{
        width: 70%;
    }

    header > .logo {
        display: none;
    }

    .navbar{
        padding: 0;
        width: 100%;
        justify-content: space-between;
    }
}
