.hero {
    display: flex;
    flex-flow: column;
    gap: var(--space-md);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
}

.hero__text {
    text-align: start;
}

.hero__desc {
    margin-left: clamp(0rem, calc(0.3rem + 1vw), 3rem);
    opacity: 0.6;
}

.hero__location{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: start;
  margin-left: clamp(0rem, calc(0.3rem + 1vw), 3rem);
  opacity: 0.8;
}

.hero__cta {
    display: flex;
    gap: var(--small-indent)
}

.hero__cta > a {
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--text-white);
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.hero__cta > a:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.hero__cta > a:hover {
  background-color: #F7F7F7;
  border-color: none;
  color: var(--text-dark);
  transform: scale(.96);
}

.hero__cta > a:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.scroll-indicator {
  width: 35px;
  height: 60px;
  border: 3px solid #aaa;
  border-radius: 25px;
  position: absolute;
  cursor: pointer;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%, 0%);
}

.scroll-dot {
  width: 8px;
  height: 8px;
  background: #aaa;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 2s infinite;
}

@keyframes scroll {
  0%   { transform: translate(-50%, 0); opacity: 1; }
  50%  { transform: translate(-50%, 20px); opacity: 0; }
  100% { transform: translate(-50%, 0); opacity: 1; }
}
