:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #121212; /* darker modern bg */

  --small-indent: 1rem;
  --indent: 3rem;
  --big-indent: 6rem;
  --secondary: #313131;
  --primary: #FFF; 
  --text-dark: black;
  --text-white: whtie;
  --background: #121212;
  --lighter-background: #1d1d1d;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --space-xl: 6rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

*{
  box-sizing: border-box;
}

button {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
}

a {
  color: #646cff;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: none; /* simpler */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  background-color: #1a1a1a;
  color: #fff;
  transition: background-color 0.25s, color 0.25s;
}
button:hover {
  background-color: #646cff;
  color: #fff;
}

h1 {
  font-size: clamp(1.8rem, calc(7vw + 1rem), 6rem);
  margin: 0.2rem;
}

h2 {
  font-size: clamp(1.4rem, calc(6vw + 1rem), 3rem);
  margin: 0.2rem;
}

h3 {
  font-size: clamp(1.2rem, calc(2vw + 1rem), 2rem);
  margin: 0;
}

h4 {
  font-size: clamp(1rem, calc(1.5vw + 1rem), 1.5rem);
  margin: 0;
}

p {
  font-size: 1.2rem;
  margin-bottom: 50px;
  line-height: 1.6;
  max-width: 800px;
}

section {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.card{
  border: solid 0.5px var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  transition: transform 0.1s ease-in-out;
}

.card:hover{
  transform: scale(101%);
}

textarea{
  resize: none;
}

@media (max-width: 724px) {
  #root{
    padding: 1rem !important;
  }
}