:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #121212; /* darker modern bg */

  --small-indent: 1rem;
  --indent: 3rem;
  --big-indent: 6rem;
  --primary: #FFF;
  --text-dark: black;
  --text-white: whtie;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: #646cff;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: none; /* simpler */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  background-color: #1a1a1a;
  color: #fff;
  transition: background-color 0.25s, color 0.25s;
}
button:hover {
  background-color: #646cff;
  color: #fff;
}

h1 {
  font-size: clamp(1.8rem, calc(7vw + 1rem), 6rem);
  margin: 0.2rem;
}

h2 {
  font-size: clamp(0.8rem, calc(1vw + 1rem), 2rem);
  margin: 0;
}