.projects {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
}

.projects__container{
    width: 100%;
    padding: 2rem 0 0 0;
    height: auto;
    display: flex;
    flex-flow: column;
    gap: 3rem;
}