.project {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.project__title {
  text-align: start;
}

.project__img-wrapper {
  width: 100%;
  display: block;
  border-radius: 1rem;
  margin-bottom: 0rem;
  transition: all 0.3s ease-in-out;
}

.project__img {
  width: 100%;
  display: block;
  min-height: 200px;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.project__video {
  width: 100%;
  display: block;
  border-radius: 1rem;
}

.project__technologies {
  display: flex;
  gap: 0.5rem;
  max-width: 100%;
  margin: 1rem 0;
  margin-top: 2rem;
  padding-left: 0.3rem;
  flex-wrap: wrap;
}

.project__technologies > span {
  background-color: var(--primary);
  color: var(--text-dark);
  padding: 2px 18px;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
  font-size: medium;
}

.project__technologies > span:hover {
  transform: scale(110%);
  font-weight: 500;
  border-radius: 8px;
}

.project__links {
  display: flex;
  gap: 1.5rem;
  margin-left: 0.3rem;
}

.project__links > a {
  color: var(--text-white);
  font-weight: 400;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.project__links > a:hover {
  opacity: 1;
}

@media (min-width: 1024px) {
  .project {
    display: flex;
    flex-flow: column;
    gap: var(--space-md);
    align-items: center;
    justify-content: space-between;
  }

  .project__img {
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
  }

  .project__video {
    width: 100%;
    display: block;
    margin: 0;
  }

  .project__img-wrapper {
    width: 100%;
    display: block;
    border-radius: 1rem;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }

  .project__img-wrapper:hover {
    opacity: 0.9;
  }
}
