
.ul--styled{
    padding-left: 0.4rem;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    list-style: none;
}

.ul--styled > li {
  list-style-type: none;
  position: relative;
  text-align: start;
  opacity: 0.8;
}